.of {
  font-size: var(--font-size-5xl);
}
.realmOfResearchersContainer {
  margin: 0;
  position: absolute;
  top: 0;
  left: calc(50% - 298px);
  font-weight: 900;
  font-family: inherit;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: var(--font-size-25xl);
}
.registerButton {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 90%;
}
.publications {
  position: absolute;
  top: 0;
  left: 1px;
  font-weight: 600;
}
.instanceChild {
  position: absolute;
  top: 29px;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-black);
  width: 69px;
  height: 6px;
}
.instanceItem,
.publicationsParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 89px;
  height: 35px;
}
.instanceItem {
  top: 29px;
  border-radius: var(--br-xs);
  background-color: var(--color-black);
  width: 70px;
  height: 6px;
  opacity: 100;
}
.publicationsContainer,
.publicationsGroup {
  position: absolute;
  top: 0;
  left: 293px;
  width: 147px;
  height: 35px;
}
.publicationsContainer {
  left: 644px;
}
.publications3 {
  position: absolute;
  top: 0;
  left: 0px;
  font-weight: 600;
}
.frameDiv,
.navBar {
  position: absolute;
  height: 35px;
}
.frameDiv {
  top: 0;
  left: 995px;
  width: 147px;
  text-align: center;
}
.navBar {
  margin: 0;
  top: 96px;
  left: calc(50% - 571px);
  width: 1142px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.headerChild {
  position: absolute;
  top: 141.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1281px;
  height: 1px;
}
.header {
  position: absolute;
  top: 30px;
  left: calc(50% - 640px);
  width: 1280px;
  height: 142px;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.discoverLatestAdvancements {
  margin: 0;
}
.discoverLatestAdvancementsContainer {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.stepIntoThe {
  display: block;
}
.stepIntoTheContainer {
  margin: 0;
  position: absolute;
  top: 115px;
  left: 0;
  font-size: 16px;
  display: inline-block;
  width: 989px;
}
.theRenaissanceUnveiled {
  margin: 0;
  position: absolute;
  top: 395px;
  left: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.inThisRealm {
  margin: 0;
  position: absolute;
  top: 450px;
  left: 0;
  font-size: 16px;
  display: inline-block;
  width: 989px;
}
.mainSection {
  position: absolute;
  top: 199px;
  left: 60px;
  width: 1039px;
  height: 552px;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.whetherYoureA {
  margin: 0;
  position: absolute;
  top: 200px;
  left: calc(50% - 422px);
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 844px;
}
.registerButton1 {
  position: absolute;
  top: 230px;
  left: 5%;
}
.lastSection {
  position: absolute;
  top: 858px;
  left: calc(50% - 422px);
  width: 844px;
  height: 245px;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.homeApgeNew {
  position: relative;
  background-color: #e2ffe6;
  width: 100%;
  height: 1600px;
  overflow: hidden;
}
