.researcherCardChild {
  position: absolute;
  top: 0;
  left: calc(50% - 499px);
  border-radius: var(--br-2xs);
  background-color: var(--color-darkseagreen-100);
  width: 998px;
  height: 165px;
}
.researcherCardItem {
  position: absolute;
  top: 28px;
  left: 24px;
  border-radius: var(--br-xs);
  width: 88px;
  height: 109px;
  object-fit: cover;
}
.tonyStark {
  margin: 0;
  position: absolute;
  top: 27px;
  left: 172px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.imAPlayBoy {
  margin: 0;
  top: 87px;
  left: 131px;
  font-size: var(--font-size-base);
  text-align: center;
  display: inline-block;
  width: 337px;
}
.h2,
.imAPlayBoy,
.prizeIcon {
  position: absolute;
}
.h2 {
  margin: 0;
  top: 69px;
  left: 7px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.prizeIcon {
  top: 0;
  left: 0;
  width: 67px;
  height: 67px;
  object-fit: cover;
}
.reputationIndex {
  position: absolute;
  top: 15px;
  left: 632px;
  width: 67px;
  height: 122px;
}
.h21 {
  margin: 0;
  position: absolute;
  top: 69px;
  left: 4px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.citations {
  top: 15px;
  left: 748px;
  width: 67px;
  height: 122px;
}
.citations,
.h22,
.ofpapers {
  position: absolute;
}
.h22 {
  margin: 0;
  top: 69px;
  left: 10px;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.ofpapers {
  top: 15px;
  left: 516px;
  width: 67px;
  height: 122px;
}
.neuroScience {
  margin: 0;
  position: absolute;
  top: 70px;
  left: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  width: 113px;
}
.searchBarIcon {
  position: absolute;
  top: 0;
  left: 23px;
  width: 67px;
  height: 67px;
  object-fit: cover;
}
.feild {
  position: absolute;
  top: 15px;
  left: 848px;
  width: 113px;
  height: 128px;
  text-align: center;
  font-size: var(--font-size-5xl);
}
.researcherCard {
  position: absolute;
  top: 214px;
  left: calc(50% - 499px);
  width: 998px;
  height: 165px;
}
.researchersPage {
  position: relative;
  background-color: var(--color-honeydew);
  width: 100%;
  height: 1053px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-25xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
